# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# ============================
# Virtual envs
# ============================
.venv/
env/
venv/
ENV/

# ============================
# Secrets
# ============================
.env
secrets.json

# ============================
# IDEs / editores
# ============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ============================
# Logs e temporários
# ============================
*.log
*.tmp
*.bak
*.swp

# ============================
# Build / dist
# ============================
build/
dist/
*.spec

# ============================
# Testes
# ============================
.pytest_cache/
.coverage
htmlcov/
.tox/
